# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask specific
instance/
*.db
*.sqlite
*.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
